{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
              "underscore": "lodash",
              "~":"./",
              "@src":"./src",
              "@apps":"./apps",
              "@static":"./static",
              "@styles": "./src/styles"
            }
          }]
    ]
}